body{
    background-color: #2a2a2e;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Ubuntu", "Helvetica Neue", sans-serif;
    font-style: normal;
    color: white;
    text-align: center;
    letter-spacing: 1px;
}
.header{
    margin-top: 50px;
    
}
.header :first-child{
    margin-right: 15px;
}
.header .logo{
    display:inline-flex;
}
.datum{
    display: block;
}
.suche{
    margin: 50px 0px 50px 0px;
    width: 25%;
    height: 50px;
    background-color: #38383d;
    display: inline-flex;
    border-radius: 10px 10px 10px 10px;

}
.search{
    width: 90%;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    background-color: transparent;
    border-color: transparent;
    text-decoration: none;
    outline: none;
    color: white;
    

}
.noselect {
    user-select: none;-moz-user-select: none; -webkit-user-select: none;-ms-user-select: none;}


.searchengine{
    background-color: transparent;
    margin-top: 10px;
    margin: 10px 0px 0px 10px;
}
.trenner{
    height: 25px;
    margin-top: 12.5px;
    width: 2px;
    background-color: #626269;
    border-radius: 5px 5px 5px 5px;
    margin-right: 5px;
    margin-left: 5px;
}